.burger {
  margin-left: -10px;
  // margin-right: 16px;
}
.logo {
  margin-right: 16px;
}
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}
.sidenav .mat-list-item {
  height: 40px !important;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}
