<form class="change-password-form" [formGroup]="changePasswordGroup" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-progress-bar
      *ngIf="loading || errorMessage"
      [mode]="errorMessage ? 'determinate' : 'indeterminate'"
      [color]="errorMessage ? 'warn' : 'primary'"
      value="100"
    ></mat-progress-bar>
    <mat-error class="form-error" *ngIf="errorMessage">{{ errorMessage }}</mat-error>

    <h1 class="title">Change password</h1>

    <div class="old-password">
      <mat-form-field appearance="standard">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
      </mat-form-field>
    </div>

    <div class="password">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
      </mat-form-field>
    </div>

    <div class="re-password">
      <mat-form-field appearance="standard">
        <mat-label>Re-Password</mat-label>
        <input matInput type="password" formControlName="rePassword" />
      </mat-form-field>
    </div>

    <div class="extra">
      <span class="fill"></span>
      <div class="buttons">
        <button mat-button type="reset" [disabled]="changePasswordGroup.disabled">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordGroup.valid || loading">Change</button>
      </div>
    </div>
  </mat-card>
</form>
